.main
  .messages
    .messages__box
      .messages__box__text ここは仮置きで！
      %ul.messages__box__info
        %li higuchi
        %li 2019/10/01 10:13

  .form
    %form.form__message
      %textarea{placeholder: "文字を入力（25文字以内）" , rows: "3", class: "form__message__input"}
      %input{type: "submit", value: "投稿する", class: "form__message__btn"}
      
  .footer Homework App 2020